html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.logo {
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;

  padding: 24px 49px;

  font-weight: 700;

  font-size: 18px;

  background-color: #3f2aff;
}

.download-link {
  padding: 0 0 0 25px;

  font-weight: 700;

  font-size: 18px;

  color: #3f2aff;

  background-image: url("../img/download.png");

  background-position: left center;

  background-size: 20px 20px;

  background-repeat: no-repeat;
}

.link:not(:last-child) {
  margin-right: 25px;
}

::marker {
  color: blue;
}

.container {
  margin: 0 auto;

  padding: 80px 0;

  width: 1170px;
}



.h1 {
  margin: 0 0 40px;

  font-weight: 400;

  font-size: 60px;

  line-height: 60px;

  color: #333;
}

.h2,
.h3 {
  margin: 0 0 10px;
}

.h2 {
  font-size: 40px;

  line-height: 46px;

  color: #333;
}

.h3 {
  font-weight: 400;

  font-size: 30px;

  line-height: 34px;

  color: #333;
}

.paragraph {
  width: 872px;

  margin: 0 0 40px;

  font-size: 20px;

  font-weight: 400;

  line-height: 32px;

  color: #333;
}

.slogan {
  border-radius: 20px;

  padding: 50px 95px;

  width: 100%;

  font-weight: 700;

  font-size: 30px;

  color: white;

  background-color: #3f2aff;
}

.list {
  padding: 0 0 0 15px;
}

.item:not(:last-child) {
  margin: 0 0 20px;
}

.text-link {
  border-bottom: 1px solid #3f2aff;

  font-size: 20px;

  color: #3f2aff;
}

.top-desc-bg {
  background-image: url(../img/decorate-1.png);
}

.desc {
  border-radius: 20px;

  padding: 30px;

  background-color: #f3f3f3;

  background-position: right;

  background-repeat: no-repeat;
}

.desc:not(:last-child) {
  margin: 0 0 40px;
}

.desc .paragraph {
  width: 692px;

  margin: 0 0 10px;
}

.bottom-desc-bg {
  background-image: url(../img/decorate-2.png);
}

.img {
  margin: 0 0 40px;
}

.figure {
  margin: 0;

  font-size: 0;
}

.fig-caption {
  display: inline-block;

  width: 872px;

  margin: 0 0 40px;

  padding: 19px 0;

  border: 1px solid #b6b6b6;

  border-top: none;

  font-weight: 400;

  font-size: 14px;

  text-align: center;
}
